h1{
  text-align: center;
  padding: 10px;
  font-family: Georgia;
  font-weight: 900;
  font-size: 40;
}

.shortunderline{
  border-bottom: 1px solid black;
  padding-bottom: 6px;
  margin-left: 100px;
  margin-right: 100px;
}

.tola{
  font-family: georgia;
  font-weight: 500;
  font-size: 30;
  padding-left: 20px;
}

h2{
  font-family: georgia;
  padding: 20px;
  font-size: 40px;
  background-color:
  border-radius: 30px 0px 30px 0px;
  margin-left: 100px;
  margin-right: 100px;
}

.line{
  border-bottom: 1px solid black;
}

.male{
  border: 1px solid black;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: lightblue;
}

.net{
  font-size: 30px;
  font-weight: 900;
  font-family: georgia;
}

.man{
  font-family: georgia;
  margin-top: 10px;
  font-size: 25px;
  display: block;
}

.male img{
  border-radius: 20px 20px 20px 20px;
}

h4{
  font-size: 30px;
  font-family: Times New Roman;
}

p{
  font-weight: 700;
  font-size: 20px;
}

h4{
  padding-left: 20px;
}

textarea{
  margin-left: 20px;
  border: 2px solid black;
}
p{
  padding-left: 20px;
}
input{
  margin-left: 20px;
  border: 2px solid black;
}
button{
  margin-left: 20px;
  font-family: Georgia;
  background-color: lightblue;
  font-size: 20px;
}
.five{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lightblue;
  text-align: center;
}

.you{
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  text-align: center;
  width: 70%;
  
}
.semeyo{
  font-family: Times New Roman;
}
